#formBackground
{
    position: absolute;
    top: 50%;
    margin-top: -38vh;
    width: 30vw;
    height: 75vh;
    padding: 40px;
    background-color: rgba(32, 32, 32, 0.945);
    border-radius: 5%;
}