.center {
    display: flex;
    justify-content: center;
}

#profileImg
{
    margin-top: 50px;
    width: 15%;
    height: auto;
    border-radius: 50%;
}

/*Tablet size*/
@media (max-width: 768px) 
{
    #profileImg
    {
        width: 20%;
    }
}

/*Smartphone size*/
@media (max-width: 420px) 
{
    #profileImg
    {
        width: 30%;
    }
}