#centerLogo 
{
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 20vw;
}

#logoBackground
{
    background-color: mediumvioletred;
    width: 200px;
    border-radius: 25%;
}