/* Estilos para el register */

:root 
{
    --loginRegisterBackgroundColor: #afaeae;
    --loginRegisterColor: #eee;
    --loginRegisterHoverBackgroundColor: #7a7a7a;
}

/* Boton de Register */

#register
{
    background-color: var(--loginRegisterBackgroundColor);
    color: var(--loginRegisterColor);
}

#register:focus,
#register:hover 
{
    background-color: var(--loginRegisterHoverBackgroundColor);
}